services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8090:8090"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    env_file: .env

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "${FRONTEND_PORT}:5173"
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - backend
    env_file: .env
